
<p>Enter your registered email</p>

<form action="/users/send-reset-password-email" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Submit">
</form>